@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #000000;
  --color-secondary: #FFFFFF;
  --color-accent: #276EF1;
  --color-midnight: #05141F;
  --color-gray-subtle: #F6F6F6;
  --color-gray-border: #E2E2E2;
  --color-gray-text: #545454;
  --color-success: #1FCC79;
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
  }
}
